<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/home" method="post">

    <input type="text" name="type" placeholder="car_type">
    <br><br>
    <input type="text" name="make" placeholder="make">
    <br><br>
    <input type="text" name="registration" placeholder="registration number">
    <br><br>
    <input type="text" name="driver_name" placeholder="Driver name">
    <br><br>
    <input type="text" name="year" placeholder="year of make">
    <br><br>
    <input type="text" name="contact" placeholder="Driver contact">
    <br><br>
    <input type="text" name="license" placeholder="Driver licence number">
    <br><br>
    <input type="submit">

</form>
{{msg}}
<a href="/renting">rent a car?</a>
<a href="/search">go to search?</a>
</body>
</html>